@import url(reset.css);

body {
    background-color: black;
    color: white;
}

.banner-content {
    width: auto;
    height: 605px;
    gap: 10px;
    opacity: 1;
    background-image: url(./assets/images/banner.png), radial-gradient(80% 49%, hsla(198, 71%, 18%, 0.849), rgba(0, 0, 0, 0));
    object-fit: cover;
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-bottom: 1px solid #33A8DB
    
}

.logo img {
    display: flex;
}

.logo {
    width: 268px;
    height: 268px;
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 500px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.banner-content h1{
    font: normal normal 42px/1.2 sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0px;
    word-spacing: 1px;
    background-image: linear-gradient(180deg, #3BA1CD 0%, #1572B7 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "raleway", sans-serif;
}

.banner-content p {
    margin: 0px 10px 10px;
    padding: 0px 10px 10px;
    width: 585px;
    font-size: 22px;
    text-align: center;
}

button {
    width: 300px;
    height: 65px;
    background-color: transparent;
    background-image: linear-gradient( #3BA1CD 50%, #1572B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font: normal normal 17px/1.2 sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    border: 2px solid; 
    border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    border-image-width: 2px;
    border-image-slice: 1;
    cursor: not-allowed;
}

button:hover {
    scale: 1.15;
    transition: ease 0.16s;
}

#course-content {
    justify-content: center;
    justify-items: center;
    gap: 24px;
    display: grid;
    padding: 100px 100px 80px;
    text-align: center;
}

#course-content > p {
    width: 880px;
    font-size: 18px
}

#course-content h2 {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient( #3BA1CD 60%, #1572B7 100%);
    color: transparent;
    font: normal normal 32px/1.2 sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 9px;
    word-spacing: 5px;
    margin: 10px;
    font-family: "raleway", sans-serif;
}

.modules-list {
    display: grid;
    gap: 24px;
    padding: 30px 50px;
}

.module {
    width: 620px;
    height: 56px;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: inset -3px 5px 10px rgba(0, 0, 0, 0.767);

    border: 2px solid #33A8DB;

  /*  background-image: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%), linear-gradient(#252525, #252525);
   background-position: 2px -53px, 0px 0px;
   background-repeat: no-repeat; */

}

.module span {
    color:#33A8DB;
    margin-right: 7px;
}

#transform-world {
    height: 363px;
    width: auto;
    background-image: url(assets/images/woman-code.png);
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 1px solid #33A8DB;
    border-top: 1px solid #33A8DB;
    align-items: center;
    display: flex;
}

#transform-world p {
    margin-left: 180px;
    width: 240px;
    height: 240px;
    display: table-cell;
    vertical-align: middle;
    text-transform: lowercase;
    font: normal normal 38px/1.2 sans-serif;
    font-weight: 900;
    font-family: "raleway", sans-serif;
    text-shadow:#1572B7 4px 3px;
    /*background-image: radial-gradient( #3BA1CD 0%, #041e3300 70%);*/
}

#professional-challenges {
    justify-content: center;
    justify-items: center;
    gap: 24px;
    padding: 100px 100px 80px;
    text-align: center;
    border-bottom: 1px solid #33A8DB
}

#professional-challenges h2 {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient( #3BA1CD 60%, #1572B7 100%);
    color: transparent;
    font: normal normal 32px/1.2 sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 9px;
    word-spacing: 5px;
    margin: 10px;
    font-family: "raleway", sans-serif;
}

#professional-challenges img {
    margin: 30px;
}

#professional-challenges p {
    margin:5px;
    width: 800px;
}

footer {
    justify-content: center;
    justify-items: center;
    gap: 24px;
    padding: 90px 100px 45px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 10%, hsla(198, 71%, 18%, 0.548));
}